$nav: #5B605F;  //- panel boczny, nawigacja
$header: #4a4a49;  //- nagłówek, , kolor tekstu w kolumnach
$buttons: #FF6600;  //- przyciski, wyróżnienia, nagłówki ekranów
$screensBackground: #FFFFFA;  //- kolor tła ekranów
$successMessage: #468966;  //- kolor wiadomości typu success
$infoMessage: #3498DB;  //- kolor wiadomości typu info
$warningMessage: #FFB03B;  //- kolor wiadomości typu warning
$trashIcon: #BD4932;  //- kolor ikony kosza
$tableText: #A1A194;  //- kolor tekstu z wierszy w tabelach, ikony rozszerzonych funkcji
