.navlink{
  margin:15px;
  text-decoration:none;
  color:white;
};

.nav{
  height:90px;
  display:flex;
  align-items:center;
  justify-content: space-around;
  margin-right:75px;

};
.header{
  display: flex;
  justify-content:space-between;
  width:1200px;
  height:90px;
  align-content:center;
  background-color:black;

};