.newsletter{
  width:1200px;
  height: 150px;
  background-color: #5b605f;
  display:flex;
  align-items: center;
  justify-content: space-around;
  h3{
    font-size:35px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color:white;
  }
  .inputstuff{
    display:flex;

  }
  input{
    width:285px;
    height: 40px;
  }
  button{
    width: 160px;
    font-size:18px;
    font-family: 'Open Sans', sans-serif;
    height: 40px;
    border:none;
    color:white;
    background-color: #ff6500;



  }
}