.WiadAndForm {
    color: #4a4a49;
    text-align: center;
    font-family: Open-sans, sans-serif;
}

.WiadAndForm p {
    font-size: 24px;
}

.WiadAndForm button {
    display: inline-block;
    margin-top: 15px;
    background-color: darkorange;
    padding: 10px 30px;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    color: white;
}

.WiadAndForm button:hover {
    color: #444;
}


.WiadAndForm textarea {
    line-height: 200%;
    font-size: 18px;
}